.auth {
  &__form {
    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__error {
    color: #af3131;
    font-weight: 600;
  }
}
